.card { box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  padding: 0.01em 16px; margin-top: 16px; margin-bottom: 16px;
  color: #000; background-color: #fff; position: relative; }
.display-topright { position: absolute; right: 0; top: 0; }
.padding { padding: 8px 16px; }
.media img { max-height: 120px; }
.date { font-style: italic; font-size: 9pt; }
